@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="">Witaj w  </h1>
    <h1>Systemie informacyjnym o imprezach masowych w Elblągu (SIoIMwE).</h1>
    <h2>
        Tutaj możesz dowiedzieć się o wszystkich wydarzeniach jakie będą miały miejsce w wspaniałym mieście Elbląg.<br />
        A także  rozpracować swoje własne wydarzania.<br />
        Życzę miłego korzystania z serwisu.<br />
    </h2>
</div>
