@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Account" asp-action="SenndEmail">Send Mail test 1</a>
    <a asp-controller="Account" asp-action="SenndEmail2">Send Mail test 2</a>
    <a asp-controller="Account" asp-action="SenndEmail3">Send Mail test 3</a>
    <a asp-controller="Account" asp-action="SenndEmail4">Send Mail test 4</a>

    <img src="~/Images/kotek.jpg" />
</div>
